@font-face {
    font-family: 'Caladea';
    src: url('./fonts/Caladea-Bold.woff2') format('woff2'),
        url('./fonts/Caladea-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Caladea', sans-serif;
}

.bg-positon {
    position: relative;
}

.bg-img {
     position: absolute;
     right: -7.5%;
     z-index: -1;
}

.appointment {
    color: rgba(0,0,0,0.6);
    border-radius: 5px;
    transition: .3s;
}

.appointment:hover {
    color: rgba(0,0,0,0.7);
}

.lawyer--img__section {
    position: relative;
}

.block, .icon__img {
    position: absolute;
}

.block {
    top: 10%;
    left: 0;
}

.icon__img {
    top: 60%;
    left: 65%;
}

.lawyer__subtext {
    color: rgba(0,0,0,0.6);
    font-size: 18px;
    width: 65%;
}

.card__section {
    margin: 0 auto;
}

.quality__card1, .quality__card2, .quality__card3 {
    border-radius: 10px;
}

.quality__card1 {
    background-image: url("../img/oval1.png");
    background-repeat: no-repeat;
    background-size: 150px;
}

.quality__card2 {
    background-image: url("../img/oval2.png");
    background-repeat: no-repeat;
    background-size: 150px;
}

.quality__card3 {
    background-image: url("../img/oval3.png");
    background-repeat: no-repeat;
    background-size: 120px;
}

.card__section__subtext {
    color: rgba(0,0,0,0.3);
    line-height: 1.6;
}

.service__content__subtext {
    font-size: 17px;
    width: 80%;
    color: rgba(0,0,0,0.5);
}

@media (max-width: 760px){
    .bg-img {
        display: none;
    }
}

@media (max-width: 576px){
    .lawyer--content__section {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .block, .icon__img {
        display: none;
    }
}
