@font-face {
    font-family: 'Caladea';
    src: url('./fonts/Caladea-Bold.woff2') format('woff2'),
        url('./fonts/Caladea-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Caladea', sans-serif;
}