@font-face {
    font-family: 'Caladea';
    src: url('./fonts/Caladea-Bold.woff2') format('woff2'),
        url('./fonts/Caladea-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Caladea', sans-serif;
}

.appointment {
    color: rgba(0,0,0,0.6);
    border-radius: 5px;
    transition: .3s;
}

.appointment:hover {
    color: rgba(0,0,0,0.8);
}
